// $primaryColor: #302b27;
// $secondaryColor:#baa256;
// $fontColor: #dce2eb;
$blue:#0079c1;
$lightblue:#0c7fc3;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 100;
$boldWeight: 600;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
